.img {
    aspect-ratio: 8.33;
    object-fit: auto;
    width: 100%;
    object-position: center;
    border-radius: 0px 0px 0px 0px;
    margin-top: 27px;
  }
  @media (max-width: 640px) {
    .img {
      width: 337px;
    }
  }