
.icon-success,
.icon-success * {
  box-sizing: border-box;
}
.icon-success {
  width: 100px;
  height: 100px;
  position: relative;
}
.polygon-4 {
  border-radius: 0px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.icon-check {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 18px;
  top: 18px;
  overflow: hidden;
}
.group {
  width: 51.02%;
  height: 40.61%;
  position: absolute;
  right: 23.45%;
  left: 25.53%;
  bottom: 29.69%;
  top: 29.7%;
  overflow: visible;
}
